<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <title>User Login</title>
   </head>
   <body>
      {{#if flash}}
         <p>{{#if flash_type}}{{flash_type}}: {{/if}}{{ flash }}</p>
      {{/if}}
   </body>
</html>
