<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Discord Profile</title>
    </head>
    <body>
        <h1>You Discord Profile</h1>

        <p>{{ user_id }}</p>
    </body>
</html>
