<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <title>User Page</title>
   </head>
   <body>
      <h1>Login Test</h1>
      <p>Logged in with user ID {{ user_id }}.</p>
      <form action="/users/logout" method="post" accept-charset="utf-8">
         <input type="submit" name="logout" id="logout" value="users/logout" />
      </form>
   </body>
</html>
