<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <title>User Login</title>
   </head>
   <body>
      <h1>Login Test</h1>

     <p>Please, login to see your id.</p>

      {{#if flash}}
         <p>{{#if flash_type}}{{flash_type}}: {{/if}}{{ flash }}</p>
      {{/if}}

      <form action="/users/login" method="post" accept-charset="utf-8">
         <label for="username">username</label>
         <input type="text" name="username" id="username" value="" />
         <label for="password">password</label>
         <input type="password" name="password" id="password" value="" />
         <!--
             <p><input type="submit" id="login" value="users/login" /></[>
         -->
             <p><input type="submit" name="login" id="login" value="users/login" /></[>
      </form>
   </body>
</html>
