<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Pastebin</title>
    </head>
    <body>
        <h1>The BEST Pastebin!</h1>
        <p>(Size limit is 65,536 bytes)</p>

        {{#if flash}}
           <p>{{#if flash_type}}{{flash_type}}: {{/if}}{{ flash }}</p>
        {{/if}}

        <form action="/paste" method="post" accept-charset="utf-8">
            <p><input type="submit" name="upload" id="upload" value="paste" /></[>
            <label for="code">Code goes here:</label>
            </br>
            <textarea name="code" id="code" rows="50" cols="150"></textarea>
            </br>
            <label for="extension">File Extension (short lang): </label>
            <input type="text" name="extension" id="extension" value="" />
        </form>
    </body>
</html>
